*
{
    background-color: rgb(245, 231, 217);
    box-sizing: border-box;
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body{
    display: flex;
    flex-direction: column;
    min-height: 100px;
    color: black;
}
header{
    text-align: center;
    padding: 2rem 1rem ;
    width: 100%;
}
header h1{
    font-size: 2.5rem;
    font-weight: 300;
    margin-bottom: 1rem;
}

#new_task
{
    flex: 1 1 0%;
    padding: 1rem;
    background-color: rgb(247, 243, 239);
    border-radius: 1rem;
    margin-right: 1rem;
    font-size: 1.25rem;
}
#task_button{
    font-size: 1.25rem;
    font-weight: 700;
    cursor: pointer;
    transition: 0.4s;
}
#task_button:hover{
    color: black;
    background-color: white;
    border-radius: 1rem;
    opacity: 0.8;
}
#task_button:active{
    opacity: 0.5;
}
#clear_all{
    font-size: 1.25rem;
    font-weight: 700;
    cursor: pointer;
    transition: 0.4s;
}
#clear_all:hover{
    color: black;
    background-color: white;
    border-radius: 1rem;
    opacity: 0.8;
}
#clear_all:active{
    opacity: 0.5;
}


main{
    text-align: center;
    flex: 1 1 0%;
    padding: 2rem 1rem;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;

}
.task_list{
    padding: 1rem;
}
.task_list h2{
    font-size: 2rem;
    font-weight: 300;
    margin-bottom: 1rem;
}
#task .task{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    border-radius: 1rem;
    margin-bottom: 1rem;
}
#task .task .text{
    font-size: 1.25rem;
    width: 100%;
    display: block;

}

#task .task .action{
    display: flex;
    margin: 0 -0.5rem;
}

.task .action button{
    cursor: pointer;
    margin: 0 0.5rem;
    font-size: 1.125;
    font-weight: 700;
    text-transform: uppercase;
    transition:0.4s
}
.task .action button:hover{
    color: black;
    background-color: white;
    border-radius: 1rem;
    opacity: 0.8;
}